<p class="payment_module">
	<a href="{$this_path_ssl}payment.php" title="{l s='Pay by bank wire' mod='bankwire'}">
		<img src="{$this_path}privat24.jpg" alt="{l s='Pay by bank wire' mod='bankwire'}" style="padding-right: 32px;" />
		{l s='Pay by bank wire (order process will be longer)' mod='bankwire'}
	</a>
</p>