@charset "UTF-8";
/* CSS Document */
body, div, img, a, ul, ol, li, table, p, dl, dt, dd, h1, h2, h3, h4 {
	margin:0;
	padding:0;
	} 
body {
	background:#141414;
	color:#fff;
	font-family:Helvetica, Arial, sans-serif;
	font-size: 11px;}

/*MAIN PAGE*/
table {
	border-top:#666 solid 2px;
	margin:5px 0 0 0;
	padding:0;}
img {
	border:0;
	padding:0;
	margin:0;}
	
.y a, .y{
	color:#FF0;}

div#logo a{
	display:block;
	width:250px;
	height:160px;}
div#logo a:hover  {
	background-color:#313131;}

/*STORE MENU*/
#store {
	text-align:right;
	margin:0 15px 0 0;
	}
#store li {
	padding:3px 2px;
	list-style-type: none;
	text-transform: uppercase;
	letter-spacing:1px;
	}
#store li a {
	padding:3px 2px;
	}
#store li a:hover {
	background-color:#313131;}


/*RIGHT COLUMN*/
div.rcol {
	display:block;
	width:250px;
	margin: 25px 0 0 0;
	text-transform: uppercase;
	letter-spacing:1px;}
div.rcol dl {
	margin-top:10px;
	}
div.rcol dt{
	background:url(images/Arrow-right.png) bottom 20px  no-repeat;
	padding: 15px 3px 0 35px;
	font-size:11px;}
div.rcol dt#active{
	background:url(images/Arrow-left.png) bottom 20px  no-repeat;}
div.rcol dd{
	padding:12px 0 0 50px;
	font-size:9px;}
div.rcol a {
	text-decoration:none;
	padding: 2px 3px;}
div.rcol dt a {
	color:#fff;}
div.rcol dd a {
	color:#FF0;}
div.rcol a:hover {
	background-color:#378475;}

.login, .busket {
	margin-left:25px;
	line-height:2.1em;
	font-size:10px;
	text-transform:none;}
.login, .login a {
	color:#999;}
.login a:hover {
	color:#fff;}
	
/*SEARCH*/

.searchform {
	display: inline-block;
	zoom: 1; /* ie7 hack for display:inline-block */
	*display: inline;
	padding: 3px 5px; 
	-webkit-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	box-shadow: 0 1px 0px rgba(0,0,0,.1);
	margin: 25px 20px 0 25px;
	
}
.searchform input {

	font: normal 12px/100% Arial, Helvetica, sans-serif;
}
.searchform .searchfield {
	background: #CCC;
	padding: 0 6px 0 8px;
	height:18px;
	width: 100px;
	border: solid 1px #D2D2D2;
	outline: none;
 	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
.searchform .searchbutton {
	color: #fff;
	border: solid 1px #2B655A;
	font-size: 11px;
	height: 20px;
	text-shadow: 0 1px 1px rgba(0,0,0,.6);
	background: #5f5f5f;
	background: -webkit-gradient(linear, left top, left bottom, from(#4b9588), to(#285149));
	background: -moz-linear-gradient(top,  #9e9e9e,  #454545);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie8 */
}
/*BUSKET*/
.busket{
	background-color:#282828;
	padding:5px;
	color:#44A391;
	width:170px;
	line-height:1.8em;
	margin-top:15px;
}
.busket a{
	color:#fff;}



/*FOOTER*/
.foot {
	font:"Courier New", Courier, monospace, 11px;
	color:#CCC;
	line-height:1.8em;
	letter-spacing:1px;
	margin:20px 0 25px 20px;}

/*INNER PAGE_1*/
.in1  {
	background-color: #121C1B;
	}
	
.in1 h1, .in2 h1 { 
	color:#214B42;
	display:block;
	font:Arial, Helvetica, sans-serif bold;
	font-size:40px;
	line-height:1.2em;
	text-align:center;
	}

.in1 p, .in2 p {
	padding:10px;
	font-size:13px;
	font:Verdana, Geneva, sans-serif;
	letter-spacing:1px;
	line-height:1.8em;}
.in1 p a {
	color:#378274;
	text-decoration:none;}
.in1 p a:hover, .in2 p a:hover{
	color: #FF0;}


/*INNER PAGE_2*/
.in2  {
	background-color: #1C170F;
	}
	
.in2 h1 {
	color:#5A472B;	
	font-size:36px;

	}

.in2 p a {
	color:#B84B2A;
	text-decoration:none;
}

.in2 .searchform .searchbutton {
		border: solid 1px  #493620;
		background: -webkit-gradient(linear, left top, left bottom, from( #5B4428), to(  #493620));

}
.in2 div.rcol a:hover {
	background-color:#493620;
}
