.object { margin-bottom:2em }

/* GALLERY */
.galleryholder {}
.galleryholder .gallery { margin-left:auto; margin-right:auto }
.gallery { }
.gallery caption { margin:15px 0 5px 0; font-size:130%; text-align:left; }
.gallery caption a { display:block; background:#BA2C00; color:#FFF; margin-left:-20px; padding:3px 3px 6px 20px }
#newsWrap .gallery caption a { text-decoration:none }
.gallery caption a:hover { background:#4083D0; }
.gallery td { vertical-align:middle; border:none; padding:0; background:none }
.gallerybox { border:solid 1px #ccc; margin:0 5px 5px 0; background-color:#DEDAD7; padding:9px; }
.gallerybox.inview { background-color:#BA2C00 }
.gallerybox .thumb * { margin:0 auto; text-align:center }

table.horpanel { border-collapse:collapse; border-spacing:0; border:none }
table.horpanel td { vertical-align:middle }

.galleryholder .gallerytext { display:none }
/* JS IMAGES */
a.js { cursor:url(/extensions/imgs/zoomin.cur),pointer; }
.scroller { opacity:0.5; filter:alpha(opacity=50); width:25px; border:solid 1px #707070; }
.scroller.right { background:#000 url(/images/3/3b/Gallery-Arrow-right.png) center center no-repeat }
.scroller.left { background:#000 url(/images/b/b4/Gallery-Arrow-left.png) center center no-repeat }
.scroller:hover { opacity:0.7; filter:alpha(opacity=70); }
/* PREVIEW HOLDER */
.rounded { margin:0 auto; border-collapse:collapse; border-spacing:0; border:none }
.rounded td { height:10px; width:10px; background:transparent url(/extensions/imgs/rounded-white.png) repeat scroll; }
.rounded #lt { background-position:0px 0px; }
.rounded #t { background-position:0px -40px; }
.rounded #rt { background-position:-30px 0px; }
.rounded #l { background-position:0px -80px; }
.rounded #c { height:auto; width:auto; background:white }
.rounded #r { background-position:-30px -80px; }
.rounded #bl { background-position:0px -30px; }
.rounded #b { background-position:0px -70px; }
.rounded #br { background-position:-30px -30px; }
/* POPUP */
#popup td { height:20px; width:20px; background:transparent url(/extensions/imgs/rounded-white.png) repeat scroll; }
#popup #lt { background-position:0px 0px; }
#popup #t { background-position:0px -40px; }
#popup #rt { background-position:-20px 0px; }
#popup #l { background-position:0px -80px; }
#popup #c { height:auto; width:auto; background:white }
#popup #r { background-position:-20px -80px; }
#popup #bl { background-position:0px -20px; }
#popup #b { background-position:0px -60px; }
#popup #br { background-position:-20px -20px; }

/* Contact Form */
#cf_h { width:760px; margin:70px auto 0 auto; background:url(/images/6/6a/Bg-BA2C00.jpg) no-repeat fixed 0 0 #DACEC2; 
 border:solid 1px #3E0402; padding:0 10px 10px; -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px; color:#000; }
#cf { width:100%; background:transparent; }
#cf #topbg {; }
#cf #btmbg { display:none; }
#closebtn { float:right; text-decoration:none; border:1px solid #3E0402; padding:0 5px 3px 5px; background-color:#DACEC2; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; color:#000; }
#cf #closebtn:hover, #cf #closebtn:visited:hover { background-color:#DACEC2; color:#A03509; }

#cf h2 { margin:0; padding:0px 0px 0px 5px; color:#A03509; }
#cf fieldset { border:0; }
#cf legend { padding:0 0 6px 5px; }

#cf label { padding-left:.3em; }
#cf input, #cf select, #cf textarea, #cf option { color:#000; }
#cf input, #cf select, #cf textarea { padding:2px 0; width:270px; border:solid 1px #555; display:block; }
#cf .td2 input, #cf .td2 textarea, #cf .td2 select { width:99%; }

table.contform { width:562px; overflow:hidden; padding:8px 0; border-right:0; }
table.contform td { padding:4px 2px 4px 4px; }
table.contform td:hover { background:none; }

#cf #summary { width:182px; float:right; font-size:80%; padding:8px;
 background:url('/images/e/ef/T9_float_bg_3col_black01_tcm300-825073.png') right top no-repeat; }
#cf #notice, #cf #errors { margin-bottom:.5em; padding:8px; background:#DACEC2; border:1px solid #3E0402; }
#cf #errors { color:red; }

#cf #buttons { clear:both; }
#cf input.cf_button { display:none; width:0; height:0; overflow:hidden; }
#cf #cf_button_label { float:right; border:solid 1px #3E0402; margin-bottom:3px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; background:#DACEC2; }
#cf #cf_button_label * { cursor:pointer; display:block; float:right; color:#000; padding:2px 0; font-size:90%; }
#cf #cf_button_label:hover * { color:#A03509; }
#cf #cf_button_label i, #cf #cf_button_label:hover i { background-position:left top; width:6px; }
#cf #cf_button_label b, #cf #cf_button_label:hover b { background-position:right top; padding-right:10px; }

#cf #privacy { clear:both; font-size:80%; border-top:solid 2px #EBECF0; clear:both; }

/* PRINT */
#printlink { margin: -30px 0 40px 0; position: static; width: 100%; clear: both; }
#printlink div.floatnone  { text-align: right; }

#orpho { background:white; border:2px solid #555; padding:1em; font-family:Arial; font-size: 90%; color:black; -moz-border-radius:5px; }
#orphoTitle { font-weight:bold }
#orphoNote { margin:1em 0 }
#orphoCommentLabel {}
input#orphoComment { width:100% }
#orphoBtns { margin-top:1em; text-align:right }
#orphoBtns * { border:solid 1px #555; -moz-border-radius:2px; padding:3px 5px; }
#orphoSend { font-weight:bold }
#orphoCancel { margin-left:1em }