/* CSS placed here will affect the print output */

#tophead, #logo, #adres, #clickmenu, #printlink, #orphomsg
#today, #next, #prev, #catlinks, #foot 
   { position:absolute; left:0; top:0; display:none; width:0; height:0; overflow:hidden }

body { padding:0; background:none }
#globalWrapper { width:100%; margin-left:0; padding:0 }
#content { padding:0 }
#bredcrumbs, h1 { margin:0; display:inline; font-size:12px; font-family:"Lucida Grande",sans-serif,serif; }
#bredcrumbs * { text-decoration:none }
.rozklad { margin-top:0 }
.rozklad th, .rozklad td { height:auto }
.rozklad .event { margin-bottom:0; padding-left:5px; }
.rozklad hr {width: 100%;}

table.rozklad a {
    color: #000;
    text-decoration: none;
}