* { margin:0; padding:0; border-collapse:collapse; border-spacing:0; border:none }
td { vertical-align:top }
html { height:100%; margin-bottom:1px }
.editsection, .printfooter, .tocnumber, .magnify { display:none; width:0; height:0; overflow:hidden }

/*Logo & Header*/
#tophead { width:100%; background:#400400; display:block; position:absolute; top:0; left:0;
	color:#C9D3C7; font-size:10pt; padding-top:6px; }
#tophead img { margin:-1px 20px 0 10px; float:left; }
#tophead a { color:#C9D3C7; text-decoration:none; padding:1px 3px 0 3px; }
#tophead a:hover { color:#FFF; }
#logo { position:absolute; top:40px; left:65px; }
#logo img { background:url(/images/b/b9/Logo-BA2C00.png); }
#adres {position:absolute; top:40px; left:555px;}

#subscribe { float:right; height:24px; overflow:hidden }
#subscribe:hover { overflow:visible }
#subscribe table { background:#400400; margin-top:0; margin-right:20px; padding:0 5px 5px 5px; text-align:center }
#subscribe th { font-weight:normal }
#subscribe a {text-decoration: none; color: #BA2C00; padding: 1px; line-height: 24px; font-family: "Lucida Grande", sans-serif, serif; font-size: 12px;}
#subscribe a:hover {background-color: #4083D0;color: #fff;}
#subscribe input[type=text] { width: 100px; }
#subscribe input[type=submit] { margin-left:3px; }

body { 
	font-family:"Lucida Grande", sans-serif, serif;
	padding:115px 1px 3px 25px; font-size:11pt; color:#333; line-height:1.5em;
	background:url(/images/6/6a/Bg-BA2C00.jpg) no-repeat fixed #DACEC2; 
}
a { text-decoration:underline; color:#BA2C00; }
a:hover, a:visited:hover { color:#FFF; background-color:#4083D0; }
/* a:visited { color: #5A3696; } not usable everywhere */
a.image, a.image:hover { color:transparent; text-decoration:none; background-color:transparent }
/* IMAGES */
div.floatright, table.floatright { clear:right; float:right; position:relative; margin:0 0 .5em .5em; border:0; }
div.floatright p, div.floatleft p { font-style:italic; }
div.floatleft, table.floatleft { float:left; clear:left; position:relative; margin:0 .5em .5em 0; border:0; }
/* thumbnails */
div.thumb {} 
div.thumbinner { font-size:94%; text-align:center; overflow:hidden; padding:6px; }
div.floatnone { text-align:center; }
html .thumbimage {}
html .thumbcaption { border:none; text-align:left; line-height:1.4em; padding:3px !important; font-size:94%; }
div.magnify { float:right; border:none !important; background:none !important; }
div.magnify a, div.magnify img { display:block; border:none !important; background:none !important; }
div.tright { clear:right; float:right; }
div.tleft { float:left; clear:left; margin-right:.5em; }
img.thumbborder { border:1px solid #dddddd; }
.center * { margin-left:auto; margin-right:auto; }
/*CONTENT*/
#globalWrapper { width:760px; margin-left:30px; background:url(/images/2/26/Content-BA2C00.png) repeat-y; padding:0px 10px 0 10px; }
#content { padding:10px 10px 0px 10px; background:#FFF; }
#orphomsg { color:#555; font-size:80%; padding-top:20px; clear:both; text-align:center }

#bredcrumbs { font-size:9pt; margin:5px 0 5px 0px }
h1, h2, h3, h4, h5, caption {
	font-family:Georgia,"Times New Roman",Times,serif;
	font-weight:normal; 
	color:#BA2C00; margin-top:.5em; margin-bottom:.5em;
}
h1 { font-size:20pt; margin-top:0; line-height:1em; }
h2 { font-size:16pt; }
h3 { font-size:13pt; }
h4 { font-weight:bold; font-size:11pt }
h5 { font-weight:bold; font-style:italic; font-size:11pt }
/*
h1 { background:transparent url(/images/a/ae/Sced_h2_bg.gif) repeat-x scroll center bottom;
	text-align:center;
	color:#400400; font-size:1.8em; line-height:2em;
	height:45px; margin-bottom:2px; border:1px solid #BBB;
}
	*/
big, .big { font-style:italic; font-size:10.5pt; padding:0px 0px 10px 0; }
.big img { border:4px solid #DBDBDB; }

.catlinks { background:#BA2C00; color:#FFF; margin:1em auto auto -20px; padding:3px 3px 3px 20px; }
.catlinks a { color:#FFF }
.catlinks a:hover { color:#000 }
.mw-spcontent { clear:both }

ul, ol, dl { margin-left:40px; font-size:10.5pt; }
ul { margin-left:35px }
li { list-style-position:outside }

table { margin-top:0.5em; }
.list tr.odd td{ background:#f1f1f1 }

table.std { background:#e0dedb; font-size:95%; margin:0 10px 10px 0; text-align:center; border:solid #a3a3a3 1px; line-height:1.3em; vertical-align:middle;}
table.std th { border:solid 1px #a3a3a3; padding:2px 0 3px 0;}
table.std td {padding:5px; border:solid #a3a3a3 1px; color:#000; background:#fcfcfc;  font-size:90%;}

p { padding-bottom:0.5em }

blockquote { background-color:#F0EDE8; border:1px dotted #CCC; font-size:12pt;
	font-family:Georgia,"Times New Roman",Times,serif; font-style:italic; margin:5px 0px 5px 0; padding:10px; }
blockquote h1, blockquote h2, blockquote h3, blockquote h4 { margin-top:0;
	font-family:"Lucida Grande", sans-serif, serif;
}

.date {	color:#656565; margin:1px 0 3px 0; font-size:12pt; font-family:Georgia,"Times New Roman",Times,serif; font-style:normal }

input, textarea, select { border:solid 1px #CCC }
.prefsectiontip { font-size:80% }
/* FOOTER */
#foot{ 
	clear:both; margin-top:0px; min-height:150px; padding-top:23px;
	background-color: #1D1E1E; border-top: 10px solid #787878; 
	text-align:center; color:#bbb;
}
#foot-links a { padding:0 2px 1px; text-decoration:none }
#foot-links a:hover { color:#FFF; }
#foot-logo { text-align:center; width:450px; margin:5px 155px 25px 155px; padding:15px 0; border-top:#FFF dotted 1px; }
#foot-logo img { background:url(/images/7/77/LogoInFoot-BA2C00.png) top center no-repeat; }
#orphus-div { margin-top:3em; }
#orphus-div a:hover { background:transparent }
/* MENU */
#clickmenu { position:fixed; top:115px; left:845px; text-align:left;
	font-size:10px; letter-spacing:1px; text-transform:uppercase; border:0; }
#clickmenu a { text-decoration:none; padding:4px; color:#FFF; font-family:"Lucida Grande",sans-serif,serif; }
#clickmenu .generated-sidebar { margin:9px 0 0 0; }
#clickmenu #bar1 { margin:0 0 0 0 }
#clickmenu, #clickmenu h5, #clickmenu li { border-left:6px solid #707070; }
#clickmenu h5:hover, #clickmenu li:hover { border-left-color:#400400; }
#clickmenu h5, #clickmenu li { margin-left:-6px }
#clickmenu h5 { margin-top:0; margin-bottom:0; padding-left:5px; font-size:10px; }
#clickmenu h5.isopen { border-left-color:#BA2C00 }
#clickmenu h5 a { background:#BA2C00; font-style:normal; font-weight:normal }
#clickmenu ul { margin-left:0; font-size:10px }
#clickmenu ul { width:280px }
#clickmenu li { list-style:outside none; list-style-type:none; margin-top:9px; padding:0 0 0 23px; text-indent:0px }
#clickmenu li.isopen { border-left-color:#BA2C00 }
#clickmenu li a { background:#707070; white-space:normal; text-indent:0px }
#clickmenu li a:hover { color:#707070; background:#FFF; }
#clickmenu a.jslink { background:#BA2C00 url(/images/c/c5/Arrow-right.png) center center no-repeat; }
#clickmenu a.jslink.isopen { background:#BA2C00 url(/images/f/fb/Arrow-down.png) center center no-repeat; }
#clickmenu h5:hover a, #clickmenu h5:hover a.jslink, #clickmenu h5:hover a.isopen { color:#E3E1DD; background-color:#400400; }

#clickmenu li.active a { background:#FFF; color:#BA2C00; }
#clickmenu h5.active a { background:#707070 }
#clickmenu h5.active a.jslink { background:#707070 url(/images/c/c5/Arrow-right.png) center center no-repeat; }
#clickmenu h5.active a.jslink.isopen { background:#707070 url(/images/f/fb/Arrow-down.png) center center no-repeat; }

#clickmenu #bar5 ul { margin-top:9px; text-align:center }
#clickmenu #bar5 li { display:inline; width:auto; border:0; padding-top:5px }

#submenu { padding: 10px; margin: 5px; line-height:1.3; background-color: #F7F7F7; border: 1px solid #D2C9C1; float:right; }
#submenu ul { list-style-type: disc; color: #707070; list-style-position:inside; margin-left: 25px; }
#submenu li { line-height:1.8em; }
#submenu li a { padding: 3px; color: #BA2C00; text-decoration: none; width: 100%; }
#submenu li a:hover { background-color: #e5cdc3; color: #b30000; }
#submenu .selflink {background-color: #707070;color: #fff; font-weight: normal; padding: 3px; }

#menu {text-align: left; margin: 0px 30px 5px 30px; color:#bbb; padding-bottom:20px; border-bottom:#FFF dotted 1px; font-family: "Verdana";}
#menu h5 { margin-left:10px; margin-bottom:5px; text-transform:uppercase; font-size:14px; font-weight:normal; font-style:normal; }
#menu a { text-decoration: none; color: #5C5E5D; }
#menu h5 a {color: #BA2C00;}
#menu a:hover, #menu a:visited:hover, #menu h5 a:hover, #menu h5 a:visited:hover { background-color:#4083D0; color:#FFFFFF; }
#menu li { list-style-type: none; }
#menu ul { margin-left: 10px; }
#menu #bar1, #menu #bar2, #menu #bar3 { float: left; }
#menu #bar1 {width: 210px;}
#menu #bar2 {width: 225px;}
#menu #bar3 {width: 200px;}
#menu #bar4 { clear: both; padding-top: 5px; }
#menu #bar5 li { display: inline; }
#menu #foot-logo { border-top: 0px; }

/* MAINPAGE */
/* we show it instead h1 */
#banner {
	text-transform:uppercase; font-weight:normal;
	font-size:110%; line-height:1.5em; color:#484848;	
	padding-bottom:5px;
	border-bottom:thin dotted #E28B4A;
}
#banner img { margin-bottom:10px; margin-left:0px; }
/* NEWS */
.next { text-align:right; }
.next a { padding:2px; border:solid 1px #BA2C00; text-decoration:none; }
.next a:hover { background-color:#4083D0; border:1px solid #CCC; }
#newsWrap { float:left; width:410px; margin:5px 10px 0 0; }
.news { padding-bottom:5px; min-height:180px; margin-bottom:10px; background:url(/images/7/75/Sm_news_bg.png) bottom no-repeat; }
.news p { padding:5px 0; }
.news h2 { font-size:130%; margin-top:0; margin-bottom:5px }
.news h2 a { display:block; background:#BA2C00; color:#FFF; margin-left:-20px; padding:3px 3px 6px 20px; text-decoration:none }
.news h2 a:hover { background:#4083D0 }
.news .thumbimage { padding:0 0 9px 6px; background:url(/images/a/aa/News_frame.jpg) left bottom no-repeat; }
.news#big h2 { display:block; width:369px }
.news#big { width:740px; margin-top:15px; min-height:231px; background:url(/images/5/58/Big_news_frame.png) bottom no-repeat; }
.news#big div.thumbinner { padding-top:0 }
.news#big .thumbimage {
	background:url(/images/8/8d/Big_news_bg.jpg) top left no-repeat; margin-top:0px; padding:0px 1px 13px 13px;
}
/* SCEDULE */
#scedWrap { clear:both; width:320px; float:right; margin:5px 0px 0 0; padding-bottom:5px; overflow:hidden; }
.sced { 
	background:url(/images/6/63/Sced_bg.gif) top repeat-x #F7F7F7; 
	margin-bottom:15px; border:1px solid #D2C9C1; padding:0 9px;
}
.sced h3 { color:#282727; line-height:1.3em; text-align:center; font-size:130%; margin-top:10px; margin-bottom:10px }
.sced .event { border-top:solid #CDC9C4 1px; padding:8px 3px 8px 12px; line-height:1.2em; clear:both }
.sced i {
	float:left; width:95px; padding-top:.5em; height:2em;
	font-family:Georgia,"Times New Roman",Times,serif; font-style:italic;
}
.sced b { display:block; font-weight:normal; }
/* ROZKLAD */
.rozklad { clear:both; margin-top:7px; background:#fff; font-size:10pt; color:#333; font-family:Georgia,"Times New Roman",Times,serif; border:solid 1px #ccc; }
.rozklad hr { background-color:#CCCCCC; height:1px; width:90%; margin:3px auto 0; }
.rozklad th { border-right:1px solid #CCC; color:#1E1F83; font-size:14px; letter-spacing:0.05em; width:13%; padding-bottom:5px; line-height:1.2em; }
.rozklad td { height:30px; border-right:1px solid #CCC; padding:2px; vertical-align:top; font-size:12px; line-height:1.2em; }
.rozklad .h { display:none }
.rozklad td.eee, .rozklad th.eee { background-color:#DFDFDF; }
.rozklad .event { margin-bottom:1em }
.rozklad .event i { color:#182083; font-weight:bold; font-style:normal }
.rozklad .event b { font-family:"Lucida Grande", sans-serif, serif; display:block; }
.rozklad .event .master { font-family:"Lucida Grande", sans-serif, serif; display:block; }
#prev, #next, #today { min-width:150px; white-space:nowrap; font-size:12px;
	text-transform:uppercase; padding:2px 7px; line-height:normal }
#prev a, #next a, #today a, #today strong { color:#fff; text-decoration:none; font-weight:normal }
#prev { float:left; background:#df6871 }
#next { clear:both; float:right; background:#df6871; text-align:right }
#prev, #next { margin-top:-9px }
#today { float:right; margin:-32px 0 0 0; text-align:right; background:#941f29 }
#today i { font-style:normal }