
	/**
	* filtersearch.css
	* @author  	   Business/Development: Adam Lee & Yaakov Albietz - ejectcore.com
	* @copyright   Copyright Eject Core 2009-2010. All rights reserved.
	* @license 	   GPLv3 License http://www.gnu.org/licenses/gpl-3.0.html
	* @credit   	3rd Party Development: Seth Benjamin
	* @package     Filter Search Community Edition
	* @version 	   v2.0 Final
	*
	*/
	
	/* top */
	#tleft, #tcenter, #tright, #bleft, #bcenter, #bright { float:left; height:9px;}
	#tleft, #tright, #bleft, #bright { width:10%; background-repeat:no-repeat;}
	#tcenter,#bcenter { width:80%;}
	
	#tcenter { background:url(tcenter.png) repeat-x;}
	#bcenter { background:url(bcenter.png) repeat-x;}
	#tleft 	{ background:url(tleft.png);}
	#tright { background:url(tright.png)  top right; float:right;}
	#bleft 	{ background:url(bleft.png);}
	#bright { background:url(bright.png) top right; float:right;}

	.filterSearchModule form {
		border: solid #ececec;
		border-width:0 1px;
		clear:both;
		float:none;
	}

	.filterSearchModule h3 {
		margin: 0;
		font-size: 12px;
		background:url(filter_h3.gif) top right;
		height:32px;
		font-weight:normal;
		line-height:26px;
		color:#00b0bb;
		padding: 0 0 0 .9em;
	}
	
	.filterSearchModule {
		position: relative;
	}
	
	.filterSearchModule ul {
		list-style-type: none;
		
	}
	
	.filterSearchModule ul li {		
		padding-left: 0;
		background:url(filter_li.gif) repeat-x;		
		height:22px;
		padding-top:6px
		
	}
		
	.filterSearchModule ul li:hover {
		background:url(filter_li_hover.gif) repeat-x;	
	}
	
	.filterSearchModule ul li a{
		font-size: 11px;
		text-decoration:none;
		color:#333;
		line-height:11px;
		
	}

	.filterSearchModule .filterViewAllFilters input{ border:none; background:none;}	
	
	.filterViewAllFilters input[type='image'] {
		margin: 0;
		border: none;
	}	
	
	.filter_product_listing {
		width: 100%;
	}
	
	.filterAjaxLoader,
	.filterAjaxLoaderAbs,
	.filterAjaxLoaderAbsTop {
		position: relative;
		left: 50%;
		height: 73px;
		width: 80px;
		margin-left: -25px;
		background: url(ajaxIcon.gif) no-repeat center center;
		clear: both;
		z-index: 100
	}
	
	.filterAjaxLoaderAbs {
		position: absolute;
		margin-top: -25px;		
		top: 50%;
	}
	
	.filterAjaxLoaderAbsTop {
		background: url(ajaxload.gif) no-repeat center center;
		position: absolute;
		width: 160px;
		left: 48%;
		top: 20px;
	}
	
	/* pagination */
	
	ul.pages {
		display: block;
		border: none;
		text-transform: uppercase;
		font-size: 10px;
		margin: 10px 0 50px;
		padding: 0;
	}
	
	ul.pages li {
		background: #FFF;
		list-style: none;
		float: left;
		border: 1px solid #ccc;
		text-decoration: none;
		margin: 0 5px 0 0;
		padding: 5px;
		font-weight: bold;
		color: #374853;
	}
	
	ul.pages li:hover {
		border: 1px solid #003f7e;
	}
	
	ul.pages li.pgEmpty {
		background: #FFF;
		border: 1px solid #eee;
		color: #eee;
	}
	
	ul.pages li.pgCurrent {
		background: #FFF;
		border: 1px solid #003f7e;
		color: #000;
		font-weight: 700;
		background-color: #eee; 
	}
	
	/* overrides for ui-tab & ui-dialog styles */
	
	#tabs {
		position: relative;
		border: 0px solid #CCC;
	/*	margin-top: 40px; */
		clear: both;
	}
	
	#tabs ul {
		position: relative;
		list-style: none;
		background: none;
		border: 0;
		top: -6px;
		/*top: -35px;*/
	}
	
	#tabs ul.ui-tabs-nav {
		padding: 0 0 0 8px;
	}
	
	#tabs ul.ui-tabs-nav li {
		height: inherit;
		margin: 5px 1px 0 0;
		background:#FFFFFF url(../../../assets/themes/base/images/ui-bg_glass_65_ffffff_1x400.png) repeat-x scroll 50% 50%;	
	}
	
	#tabs ul.ui-tabs-nav li a:link,
	#tabs ul.ui-tabs-nav li a:visited,
	#tabs ul.ui-tabs-nav li a:hover,
	#tabs ul.ui-tabs-nav li a:active {
		background: #EEE;
		font-size: 11px;
		color: #666;
	}
	
	#tabs ul.ui-tabs-nav li.ui-tabs-selected a:link,
	#tabs ul.ui-tabs-nav li.ui-tabs-selected a:visited,
	#tabs ul.ui-tabs-nav li.ui-tabs-selected a:hover,
	#tabs ul.ui-tabs-nav li.ui-tabs-selected a:active {
		font-weight: bold;
		background: #FFF;
		color: #374853;
	}
	
	#tabs .ui-tabs-panel {
		padding: 0;
		font-size: 12px;
		color: #000;
	}
	
	#tabs .ui-tabs-panel:after {
		content: ' ';
		clear: both;
		display: block;
		height: 1px;
		visibility: hidden;
	}
	
	#tabs ul .filter_product_listing ul li {
		margin: 0;
		padding: 0;
	}
	
	#tabs .filter_product_listing ul li div.right_block { margin:18px 3px; }
	
	
	#tabs .pagination select { float: none; }
	
	
	/* Default Theme Supported - Please change below to add custom styles */
	
	ul#product_list {
		display: none;
	}	
	
	ul.product_list li.gallery {
		clear: none;
		float: left;
		width:170px;
		border: 0px;
		background: none;
	}
	
	ul.product_list{ margin-top:2em; list-style-type:none; }
	ul.product_list li {
		background: #d0d3d8 url('block_category_item_bg.jpg') repeat-x;
		border: solid 1px #d0d3d8;
		padding: 6px;
		clear:both;
		margin-bottom:0.3em;
	}

	ul.product_list li a {
		text-decoration:none;
		color:#374853;
	}
	
	ul.product_list a.product_img_link{
		border: solid 1px #d0d3d8;
		float:left;
		margin-right:0.6em;
	}
	
	ul.product_list a.product_img_link img{
		vertical-align:bottom;
	}
	ul.product_list li h3{ margin:0.4em 0; }
	ul.product_list li .new{
		background:transparent url(flag_new_bg.jpg) repeat-x scroll 0%;
		border:1px solid #488C40;
		color:white;
		font-size:0.6em;
		font-weight:bold;
		margin:0pt 1em 0pt 0pt;
		padding:0pt 0.4em;
		text-transform:uppercase;
		vertical-align:0.3em;
	}
	ul.product_list li p.product_desc{ font-size:0.92em; }
	ul.product_list li div.center_block{
		float:left;
		width:74%;
	}
	ul.product_list li div.right_block{
		float:left;
		width: 11em;
		text-align:right;
		margin-left:1em;
		margin-top:0;
	}
	ul.product_list li .discount{
		color:#da0f00;
		text-transform:uppercase;
		font-weight:bold;
		display: block;
	}
	ul.product_list li .on_sale{
		color:#da0f00;
		text-transform:uppercase;
		font-weight:bold;
		display: block;
	}
	ul.product_list li .reduction {
		display: block;
		margin-bottom: 0.3em;
	}
	ul.product_list li .price{
		display: block;
		font-size: 1.5em;
		margin-bottom: 0.2em;
	}
	ul.product_list li span.availability{
		float: right;
		color:#488c40;
		font-size:0.9em;
	}
	ul.product_list li a.button{ margin-top:0.5em; }	