/*
	PrestaShop CSS
	18 used colors : 
	10 grays: #374853 #595a5e #5d717e #76839b #888 #bdc2c9 #d0d1d5 #d0d3d8 #e5e6e7 #f1f2f4
	4 fushias: #f6dce8 #dd2a81 #971d58 #5d0630
	2 yellows: #f8e1a0 #f9e400
	1 green: #488c40
	1 red: #da0f00
*/

* {
	padding:0;
	margin:0;
}

body {
	/* background-color: white; */
	background: #B2D2E1 url(../img/img02.jpg) repeat-x left top;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	color: #5d717e;
	text-align:center;
	
	margin: 0;
	padding: 0;

	/*color: #5A554E;*/
}

/* Useful */
.align_center { text-align:center; }
.align_right { text-align:right; }
.middle { vertical-align: middle; }
.align_justify{ text-align: justify; }
.uppercase { text-transform:uppercase; }
.hidden, .collapsed, .block_hidden_only_for_screen { display:none; }
.wrap { white-space: normal; }
.bold { font-weight: bold; }
.strike { text-decoration:line-through; }
.italic { font-style: italic; }
.top { vertical-align: top; }
.span_link { cursor:pointer; }
.span_link:hover { text-decoration:underline; }
.clear { clear:both; }
br.clear {
	clear:both;
	line-height:0;
	font-size:0;
	height:0;
}
noscript ul {list-style-type:none; background:black; color:grey; padding:10px; border:1px solid gray;}

/* Footer links */
ul.footer_links{
	list-style-type:none;
	clear:both;
	height:2em;
	margin-top:2em;
}
ul.footer_links li{
	float:left;
	margin-right:2em;
	height:2em;
}
ul.footer_links li a{ text-decoration:none; }
ul.footer_links li a:hover{ color:black; }
ul.footer_links li img.icon{ vertical-align:-2px; }

/* transfert effect*/
.transferProduct { border: 2px solid #888; }

/* simple list inline */
ul.inline_list{ list-style-type:none; margin-top: 1em; }
ul.inline_list li { float:left; text-align:center; }
ul.inline_list li img{ display:block; }
ul.half {
	width: 45%;
	margin-right: 1em;
	float: left;
}

/* Category tree (i.e. in sitemap) */
div.tree_top {
	background:url('../img/sitemap-top.gif') no-repeat -1px -3px;
	padding-left:24px;
	padding-bottom:5px;
	padding-top:3px;
}
ul.tree, ul.tree ul{ list-style-type:none; }
ul.tree li{
	padding-left:1.2em;
	border-left:1px gray dotted;
	background:url(../img/sitemap-horizontal.gif) no-repeat left 10px;
	margin-left:1em;
}
ul.tree a{ padding-left:0.2em; }
ul.tree a.selected{ font-weight:bold; }
ul.tree li.last{
	background:url(../img/sitemap-last.gif) no-repeat -12px -2px;
	border:none;
}
span.grower{ cursor:pointer; }

/* Tabs */
ul.idTabs {
	list-style-type:none;
	border-bottom:solid 1px #76839b;
	height:21px;
	margin-top:1em;
}
ul.idTabs li {
	float:left;
	margin-right:1px;
}
ul.idTabs li a {
	background-image: url('../img/tab_bg.jpg');
	display:block;
	width:173px;
	height:18px;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	padding-top:3px;
	color:#374853;
}
ul.idTabs li a.selected{
	background-image: url('../img/tab_bg_selected.jpg');
	color:grey;
}

/* IdTabs Short*/
ul.idTabsShort li a {
	background-image: url('../img/tab_bg_short.jpg');
	width:138px;
}
ul.idTabsShort li a.selected{
	background-image: url('../img/tab_bg_selected_short.jpg');
	color:grey;
}

div.sheets{
	clear:both;
	padding:1em;
}
div#more_info_sheets ul li{	margin-bottom:0.4em; }

/* global style */
a {
	color: #5d717e;
	text-decoration: underline;
	outline: none;
}
a:hover {
	text-decoration: none;
}
input:focus {
	outline: 0;
	outline-offset: 0;
}
a img {
	outline: none;
	border: none;
	text-decoration: none;
}
h2 {
	font-size: 1.1em;
	line-height:1.6em;
	padding-left:0.5em;
	margin: 0.5em 0;
	text-transform: uppercase;
	font-weight: bold;
	color: #374853;
	background: transparent url('../img/title_bg.gif') no-repeat top left;
	height: 21px;
}
h2 span {
	font-size: 0.9em;
	text-transform: lowercase;
	font-weight: normal;
	font-style: italic;
	color: #374853;
	margin-left: 1em;
}
h3 { font-size: 1.1em; margin: 1em 0; }
h4 { font-size: 1em; }

/* global layout */
#page {
	width: 980px;
	margin: 0 auto 2px auto;
	text-align:left;
	
	background: #FFFFFF;
	
}
h1#logo {
	float: left;
	width: 29%;
	margin-top:0em;
}
#header {
	float: left;
	width: 1000px;
	height: 235px;
	margin: 0 auto;
	padding: 0px;
	background: url(../img/img03.jpg) no-repeat left top;
}
#left_column, #center_column, #right_column {
	float:left;
	padding-top:0.2em;
	padding-left:0.2em;
}
#left_column {
	clear:left;
	width:190px;
	padding-right: 15px;
}
#center_column {
	width: 556px;
	margin: 0 0 30px 0;
}
#right_column {
	width: 190px;
	padding-left: 15px;
}

/* global RTE fields */

div.rte,
.mceContentBody {
	text-align:left;
	background:white;
	color:black;
}

div.rte html, div.rte div, div.rte span, div.rte applet, div.rte object, div.rte iframe,
div.rte h1, div.rte h2, div.rte h3, div.rte h4, div.rte h5, div.rte h6, div.rte p, div.rte blockquote, div.rte pre,
div.rte a, div.rte abbr, div.rte acronym, div.rte address, div.rte big, div.rte cite, div.rte code,
div.rte del, div.rte dfn, div.rte em, div.rte font, div.rte img, div.rte ins, div.rte kbd, div.rte q, div.rte s, div.rte samp,
div.rte small, div.rte strike, div.rte strong, div.rte sub, div.rte sup, div.rte tt, div.rte var,
div.rte dl, div.rte dt, div.rte dd, div.rte ol, div.rte ul, div.rte li,
div.rte fieldset, div.rte form, div.rte label, div.rte legend,
div.rte table, div.rte caption, div.rte tbody, div.rte tfoot, div.rte thead, div.rte tr, div.rte th, div.rte td,
.mceContentBody html, .mceContentBody div, .mceContentBody span, .mceContentBody applet, .mceContentBody object, .mceContentBody iframe,
.mceContentBody h1, .mceContentBody h2, .mceContentBody h3, .mceContentBody h4, .mceContentBody h5, .mceContentBody h6, .mceContentBody p, .mceContentBody blockquote, .mceContentBody pre,
.mceContentBody a, .mceContentBody abbr, .mceContentBody acronym, .mceContentBody address, .mceContentBody big, .mceContentBody cite, .mceContentBody code,
.mceContentBody del, .mceContentBody dfn, .mceContentBody em, .mceContentBody font, .mceContentBody img, .mceContentBody ins, .mceContentBody kbd, .mceContentBody q, .mceContentBody s, .mceContentBody samp,
.mceContentBody small, .mceContentBody strike, .mceContentBody strong, .mceContentBody sub, .mceContentBody sup, .mceContentBody tt, .mceContentBody var,
.mceContentBody dl, .mceContentBody dt, .mceContentBody dd, .mceContentBody ol, .mceContentBody ul, .mceContentBody li,
.mceContentBody fieldset, .mceContentBody form, .mceContentBody label, .mceContentBody legend,
.mceContentBody table, .mceContentBody caption, .mceContentBody tbody, .mceContentBody tfoot, .mceContentBody thead, .mceContentBody tr, .mceContentBody th, .mceContentBody td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
div.rte h1, div.rte h2, div.rte h3, div.rte h4, div.rte h5, div.rte h6,
.mceContentBody h1, .mceContentBody h2, .mceContentBody h3, .mceContentBody h4, .mceContentBody h5, .mceContentBody h6 {
	margin: 0.75em 0 0.3em 0;
	color: #374853;
}
div.rte h1,
.mceContentBody h1 {
	font-size: 25px;
	font-weight:bold;
}
div.rte h2,
.mceContentBody h2 {
	font-size: 20px;
	background:none;
	text-transform:none;
}
div.rte h3, .mceContentBody h3 {font-size: 16px;}
div.rte h4, .mceContentBody h4 {font-size: 14px;}
div.rte h5,.mceContentBody h5 {font-size: 12px;}
div.rte h6, div.rte h6 {font-size:  8px;}

div.rte ol, .mceContentBody ul,
div.rte ol, .mceContentBody ul
 {
	padding-left: 2em;
}

div.rte ul, .mceContentBody ul{
	list-style-type:square;
	margin-left:10px;
}

div.rte strong, .mceContentBody strong {
	font-weight:bold;
}

div.rte em, .mceContentBody em {
	font-style:italic;
}

/* tables still need 'cellspacing="0"' in the markup */
div.rte table,.mceContentBody table {
	border-collapse: separate;
	border-spacing: 1px;
	width:auto;
}
div.rte caption, div.rte th, div.rte td, div.rte table,
.mceContentBody caption, .mceContentBody th, .mceContentBody td, .mceContentBody table {
	text-align: left;
	font-weight: normal;
	background:none;
	height:inherit;
	border:1px #e5e6e7 solid;
	text-align:center;
}

div.rte th,
.mceContentBody th {
	padding-left:1em;
	padding-right:1em;
	background:#e5e6e7;
}

div.rte p,
.mceContentBody p {
	margin:0.5em 0pt;
	padding-left:0.7em;
}
/* /global RTE fields */

/* global table style */
div.table_block {
	background: transparent url('../img/table_footer.gif') no-repeat bottom left;
	padding-bottom:6px;
	margin:0 auto 2em;
	width:541px;
}
table.std {
	border-spacing: 0;
	border-collapse: collapse;
	width:100%;
}
table.std td, table.std th {
	padding: 0.4em 0.5em;
}
table.std th {
	white-space:nowrap;
}
table.std tr.item td, table.std tr.item th {
	background-color: white;
}
table.std tr.alternate_item td, table.std tr.alternate_item th {
	background-color: #f1f2f4;
}
table.std tbody tr td, table.std tfoot tr td {
	border-top: 1px solid #bdc2c9;
}
table.std thead th {
	background-color: transparent;
	background-image: url('../img/table_header.gif');
	background-repeat: no-repeat;
	height:24px;
	color: #374853;
	font-weight: bold;
	text-align: left;
	white-space: nowrap;
}
table.std thead th.first_item {
	background-position: top left;
}
table.std thead th.last_item {
	background-position: top right;
}
table.std thead th.item {
	background-position: -5px 0;
}
table.std tfoot td {
	color: #374853;
	text-align: right;
	white-space: nowrap;
}
/* /global table style */

/* global form style */
form.std {
	clear: both;
}
form.std h3 {
	color: #555;
	font-size: 1.4em;
	font-weight: normal;
	border-bottom: 1px solid #d0d1d5;
	padding: 0.5em;
	margin: 0 0 0.5em 0;
}
form.std fieldset {
	border: 1px solid #d0d3d8;
	background: #D0D1D5 url('../img/form_bg.jpg') repeat-x top left;
	margin-bottom: 1em;
	padding-bottom: 1em;
}
form.std fieldset legend {
	padding: 0.3em 0.6em;
	margin: 1em 0 1em 0.5em;
	font-size: 1.6em;
	font-weight: 100;
	border-color: #d0d1d5;
	border-style: solid;
	border-width: 1px;
}
form.std h4, form.std p {
	padding: 0.3em 1em;
	clear: both;
}
form.std label, form.std p span {
	float: left;
	text-align: right;
	width: 30%;
}
form.std p span.like_input {
	width: auto;
	margin-left:0.7em;
}
input, textarea, select, span.editable {
	margin-left: 0.7em;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	vertical-align: top;
	outline: none;
}

input, textarea, select {
	border: 1px solid #bdc2c9;
}

input.text {
	height:18px;
	padding-left:2px;
	padding-right:2px;
}
.checkbox input, .radio input {
	border: none;
}
form.std .checkbox label, form.std .radio label, form.std span.form_info {
	margin: 0;
	float: none;
	text-align: left;
}
.required sup {
	color: #da0f00;
}
form.std p.checkbox {
	padding-left: 30%;
}
form.std p.submit {
	padding-left:31%!important;
	margin-bottom: 1.5em;
}

#center_column form.std p.submit2 {
	padding-left:170px;
	margin-bottom: 1.5em;
}

/* START OF BUTTONS SECTION
 *  -tags : input, a, span
 *  -sizes : mini, small, normal, large
 *  -types : button, exlusive
 *  -status : normal, hover, disabled
 *  -rule : the span.button is a a.button disabled
*/

/* global button */
input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.button_mini, a.button_small, a.button, a.button_large,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {
	background-repeat: no-repeat;
	background-position: top left;
	border: none;
	color:black!important;
	font-weight: bold;
	font-size: 10px!important;
	text-align: center;
	text-decoration: none!important;	
	cursor: pointer;
	display: block;
	line-height: 18px;
	height: 18px;
}

/* input button */
input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled {
	padding-bottom:2px;
}

/* disabled button */
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {
	background-position: left -36px;
	cursor:default;
	color:#888!important;
}

/* exclusive button */
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {
	color:white!important;
}

/* exclusive disabled button */
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled, span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {
	color:#488c40!important;
}

/* hover button */
input.button_mini:hover, input.button_small:hover, input.button:hover, input.button_large:hover,
input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover,
a.button_mini:hover, a.button_small:hover, a.button:hover, a.button_large:hover,
a.exclusive_mini:hover, a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover {
	background-position: left -18px;
}

/* exclusive hover button */
input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover, a.exclusive_mini:hover, a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover {
	color:white!important;
}

/* classic buttons */
input.button_mini, input.button_mini_disabled, input.exclusive_mini, input.exclusive_mini_disabled, a.button_mini, a.exclusive_mini, span.button_mini, span.exclusive_mini {
	width: 30px;
	background-image: url('../img/button-mini.gif');
}
input.button_small, input.button_small_disabled, input.exclusive_small, input.exclusive_small_disabled, a.button_small, a.exclusive_small, span.button_small, span.exclusive_small {
	width: 60px;
	background-image: url('../img/button-small.gif');
}
input.button, input.button_disabled, input.exclusive, input.exclusive_disabled, a.button, a.exclusive, span.button, span.exclusive {
	width: 120px;
	background-image: url('../img/button-medium.gif');
}
input.button_large, input.button_large_disabled, input.exclusive_large, input.exclusive_large_disabled, a.button_large, a.exclusive_large, span.button_large, span.exclusive_large {
	width: 180px;
	background-image: url('../img/button-large.gif');
}

/* exclusive button */
input.exclusive, input.exclusive_disabled, a.exclusive, span.exclusive { background-image: url('../img/button-medium_exclusive.gif'); }
input.exclusive_mini, input.exclusive_mini_disabled, a.exclusive_mini, span.exclusive_mini { background-image: url('../img/button-mini_exclusive.gif'); }
input.exclusive_small, input.exclusive_small_disabled, a.exclusive_small, span.exclusive_small { background-image: url('../img/button-small_exclusive.gif'); }
input.exclusive_large, input.exclusive_large_disabled, a.exclusive_large, span.exclusive_large { background-image: url('../img/button-large_exclusive.gif'); }

/* id_state field in managed via JS and is firstly hidden */
form p.id_state { display:none; }

/* generic style */
ul.bullet li, .block ul.bullet li {
	padding-left: 2em;
	background: transparent url('../img/bullet.gif') no-repeat 0.6em 0.5em;
	list-style-type:none;
}

.price-discount { text-decoration: line-through; }
.price-pretax { color: gray; }
.price-ecotax { color:#488c40; }
img.icon { margin-right: 0.5em; vertical-align: middle; }
.price, .price-shipping, .price-wrapping {
	color: #333;
	font-size: 1.1em;
	font-weight: bold;
	white-space:nowrap;
}

/* errors */
.error {
	width: 90%;
	border: 1px solid #da0f00;
	background-color: #f1f2f4;
	color: #da0f00;
	margin: 0.3em auto 1.5em auto;
	padding: 0.3em 0.8em 1em;
}
.error p { font-weight: bold; }
.error li {
	list-style-position: inside;
	list-style-type: decimal-leading-zero;
	padding-left: 3em;
}

/* warning */
.warning {
	color: black;
	font-size: 1.2em;
	background-color: #F8E1A0;
	border: 1px dashed #F9E400;
	font-weight: bold;
	margin: 0.2em 2em;
	padding: 0.6em 1em;
}
.warning_inline {
	color:#da0f00;
	font-weight:bold;
}

/* success */
.success {
	color: green;
	background-color: #d0d3d8;
	border: 1px dashed green;
	font-weight: bold;
	margin: 0.2em 1em;
	padding: 0.3em 0.8em 1em;
}
.success_inline {
	color:green;
	font-weight:bold;
}

/* breadcrumb.tpl */
.breadcrumb {
	font-size: 1em;
	color:#888;
}
.breadcrumb .navigation-pipe {
	padding: 0 0.6em;
}
.breadcrumb a {
	text-decoration: none;
	color:#5d717e;
}
.breadcrumb a:hover {
	text-decoration: underline;
}

/* pagination.tpl */
div.pagination { margin: 1em 0; }
ul.pagination {
	list-style: none;
	float: left;
}
ul.pagination li {
	display: inline;
	float: left;
	margin-right: 0.3em;
}
ul.pagination li, ul.pagination a, ul.pagination span {
	font-weight: bold;
	color: #374853;
}
ul.pagination a, ul.pagination span {
	border: 1px solid #888;
	padding: 0em 0.4em;
	display: block;
	line-height: 17px;
	background: #bdc2c9 url('../img/pagination_bg.gif') repeat-x top right;
}
ul.pagination a { text-decoration: none; }
ul.pagination li.current span {
	background-color: #595a5e;
	background-image: url('../img/pagination-bg-current.gif');
	color: white;
	border: 1px solid #595a5e;
}
ul.pagination li.truncate {
	padding: 0.3em;
	background: none;
}
#pagination_previous a, #pagination_previous span, #pagination_next a, #pagination_next span {
	background-image: url('../img/pagination-prevnext-bg.gif');
	border: none;
	line-height: 19px;
	border-color: #d0d1d5;
	border-style: solid;
	border-width: 0 1px;
}
#pagination_previous {
	background: transparent url('../img/pagination-prev-border.gif') no-repeat top left;
	padding-left: 6px;
}
#pagination_previous a, #pagination_previous span {
	border-left: none;
}
#pagination_next {
	background: transparent url('../img/pagination-next-border.gif') no-repeat top right;
	padding-right: 6px;
}
#pagination_next a, #pagination_next span { border-right: none; }
li.disabled span {
	color: #888;
	background-color: #f1f2f4;
}

form.pagination { text-align: right; }
form.pagination label {
	line-height: 1.4em;
	vertical-align: bottom;
	float:right;
	margin-left: 0.3em;
}
form.pagination select { float:right; }
form.pagination select option{
	font-size: 0.9em;
	padding-right: 1em;
}
form.pagination input{ float:right; }

/* product-sort.tpl */
form#productsSortForm p{
	height: 1em;
	margin: 0.5em 0 0 0;
}
form#productsSortForm p label, form#productsSortForm p select{ float:right; }
form#productsSortForm p select{ font-size:1em; }

/* Header */
#header ul { list-style: none; }
#header form {
	border: none;
	margin-bottom: 0!important;
	display: inline;
}
#header label {
	margin: 0;
	float: none;
	
}

/* block top currencies */
#header #currencies_block_top {
	margin: 0.4em 0em 0 1em;
	float: left;
}
#header #currencies_block_top ul {
	float: left;
	height: 1.5em;
}
#header #currencies_block_top ul li {
	float:left;
	margin-right:0.2em;
}
#header #currencies_block_top ul li a {
	display:block;
	font-size:1em;
	background-color:#f1f2f4;
	border:#595a5e 1px solid;
	text-decoration:none;
	min-width: 1em;
	padding: 0px 2px 0px 3px;
	line-height: 1.5em;
	text-align: center;
	vertical-align: middle;
}
#header #currencies_block_top ul li a:hover {
	background-color:white;
	color: black;
}
#header #currencies_block_top ul li.selected a {
	border: none;
	background-color: transparent;
	font-size: 1.1em;
	line-height: 1.2em;
	font-weight: bold;
	color: black;
	border:1px solid white;
}
#header #currencies_block_top p {
	clear: left;
}

/* block top languages */
#header #languages_block_top {
	margin: 0.5em 5em 0 2em;
	float: left;
	
}
#header #languages_block_top p {
	clear: left;
}
#languages_block_top ul#first-languages {
	float: left;
	height: 1.5em;
	width: 8em;
}
#languages_block_top ul#first-languages li {
	float:left;
	margin-right: 0.3em;
}

#languages_block_top ul#first-languages li.selected_language {
	float:left;
	margin-right: 0.3em;
}

/* top links */
ul#header_links {
	margin: 0.4em 0.3em 0 0;
	list-style-type: none;
	float: left;
}
#header_links li {
	float:left;
	padding-left: 10px;
}
#header_links a {
	display: block;
	height: 15px;
	color: #374853;;
	padding-top: 3px;
	text-align: center;
	text-decoration: underline;
	background-repeat: no-repeat;
	background-position: top center;
	background-color: transparent;
}
#header_links a:hover{
	text-decoration: none;
}
#header_links #header_link_sitemap a {
	
}
#header_links #header_link_contact a {
	
}
#header_links #header_link_bookmark a {
	
}

/* block top search */
#header #search_block_top {
	/*background: #e5e6e7 url('../img/block_search_bg.jpg') no-repeat top right;*/
	height: 28px;
	width: 340px;
	float: left;

}
#header #search_block_top p { padding: 0.5em 0 0em 0.4em; }
#header #search_block_top label, #header #search_block_top input{ float:left; }
#header #search_block_top label {
	/*background: transparent url('../img/icon/search.gif') no-repeat 0 2px;*/
	float: left;
	width: 19px;
	height: 18px;
	display: block;
}
#header #search_block_top input#search_query { width: 12em; }

/* block left column "Quick search" */
#search_block_left input {
	margin: 2px 0px 0px 0px;
}
#search_block_left #search_query {
	width: 11em;
}
#search_button {
	display: inline;
}

/* block top user information */
#header #header_user {
	width: 99%;
	text-align: right;
	clear: left;
	margin:0.6em 0.6em 0 -1em;
	
}
#header #header_user a {color:white;}
#header_user p { color: white; }
#header_user span { font-weight: bold; color: white;}
#header_user ul { margin-top: 0.3em; color: white;}
#header_user li {
	float: right;
	line-height: 2em;
	margin-left: 0.5em;
	white-space: nowrap;
	color: white;
}
#header_user #shopping_cart, #header_user #your_account { font-size: 0.9em; color:white;}
#header_user #shopping_cart a, #header_user #your_account a {
	background-repeat: no-repeat;
	background-position: top left;
	padding: 2px 0 4px 26px;
	height: 20px;
	text-decoration: none;
	color:white;
}
#header_user #shopping_cart a { background-image: url('../img/icon/cart.gif');}
#header_user #shopping_cart span.ajax_cart_quantity { padding-right:0.5em; }
#header_user #your_account a { background-image: url('../img/icon/my-account.gif');}

/* Footer */
#footer {
	/*border-top: 1px solid #d0d3d8;*/
	padding: 0em 0;
	clear: both;
}
#footer .block_various_links { list-style: none; }
#footer .block_various_links li a{ text-transform:capitalize; font-size:12px; color:grey; text-decoration:none; }
#footer .block_various_links li {
	display: inline;
	border-left: 1px solid #888;
	padding: 0px 2px 0px 4px;
}
#footer .block_various_links li.first_item {
	border: none;
	padding-left: 0px;
}



#footer-content {
	
	height: 255px;
	margin: 0 auto;
	padding: 60px 50px 0px 50px;
	background: url('../img/img15.jpg') no-repeat left top;
	font-size: 12px;
	color: #887450;
}

#footer-content .column1 {
	float: left;
	width: 570px;
}

#footer-content .column2 {
	float: right;
	width: 273px;
}

#footer-content h2 {
	padding-bottom: 10px;
	font-size: 22px;
	color: #E3D2B6;
}

#footer-content strong {
	color: #E3D2B6;
}

#footer-content a {
	color: #AA8B55;
}

#footer-content a:hover {
	color: #AA8B55;
}

.list li {
	margin-bottom: 6px;
}



/* Default block style */
div.block {
	margin-bottom: 1em;
	margin-left:0.4em;
	width: 191px;
}
#left_column div.block, #right_column div.block {
	padding-bottom: 6px;
	background: transparent url('../img/block_footer.gif') no-repeat bottom left;
}
div.block h4 {
	text-transform: uppercase;
	font-family: Helvetica, Sans-Serif;
	font-weight: bold;
	font-size: 1.2em;
	padding-left:0.5em;
	padding-top:0.4em;
	line-height:1.3em;
	/*color: #374853;*/
	color:#374853;
	height: 19px;
	background: transparent url('../img/block_header.gif') no-repeat top left;
}
div.block h4 a { color: #374853; }
div.block ul { list-style: none; }
div.block ul.tree li { padding-left:1.2em; }
div.block a:hover { text-decoration: underline; }
#left_column div.block .block_content a.button_large, #right_column div.block .block_content a.button_large { margin:0 0 0 -3px; }
div.block .block_content {
	border-left: 1px solid #E7E3E0;
	border-right: 1px solid #E7E3E0;
	background: #FFF;
	padding:0.5em 0.7em 0pt;
	background: #FFF;
	min-height:20px;
}
div.block li {
	padding: 0.2em 0 0.2em 0em;
	list-style-position: outside;
}
div.block a {
	color: #595a5e;
	text-decoration: none;
}

/* block exclusive - shopping cart, specials */
#left_column div.exclusive, #right_column div.exclusive {
	background: transparent url('../img/block_exclusive_footer.jpg') no-repeat bottom left;
	
}
div.exclusive h4 {
	background: transparent url('../img/block_header_exclusive.gif') no-repeat top left;
	color: white;
}
div.exclusive h4 a { color: #374853; }/*exclusive block title*/
div.exclusive li { margin-top: 0; }
div.exclusive, div.exclusive a { color: grey; }
div.exclusive .block_content {
	/*background: #bdc2c9 url('../img/block_exclusive_bg.jpg') repeat-x bottom left;
	border-left: 1px solid #595a5e;
	border-right: 1px solid #595a5e;*/
	border-left: 1px solid #E7E3E0;
	border-right: 1px solid #E7E3E0;
	background: #FFF;
	color:grey;
}

/* block myaccount */
#left_column div.myaccount, #right_column div.myaccount { background: #f6dce8 url('../img/block_footer_myaccount.jpg') no-repeat bottom left; }
div.myaccount h4 { background: #971d58 url('../img/block_header_myaccount.jpg') no-repeat top left; }
div.myaccount h4 a, div.myaccount h4 { color: white; }
div.myaccount, div.myaccount a { color: #5d0630; }
div.myaccount ul.bullet { margin-top: 0.6em; }
div.myaccount ul.bullet li { background-image: url('../img/bullet_myaccount.gif'); }
div.myaccount ul.bullet .icon { display: none; }
div.myaccount p.logout { padding: 0.3em 0 0.3em 2em; }
div.myaccount p.logout, div.myaccount p.logout a { color: #dd2a81; }
div.myaccount p.logout a { text-decoration: underline; }
div.myaccount p.logout a:hover { text-decoration: none; }
div.myaccount .block_content {
	background: #f6dce8 url('../img/block_bg_myaccount.jpg') repeat-x bottom left;
	border-left: 1px solid #f6dce8;
	border-right: 1px solid #f6dce8;
}
.account_input {
	margin-left: 0px;
	width:15em;
}

/* block in the center column */
#center_column p { margin: 0em 0; padding-left:0.7em;}
#center_column div.block { width: 545px; margin:auto;}
#center_column div.block h4 {
	background: transparent url('../img/block_header_large.gif') no-repeat top left;
	height: 17px;
	color: white;
	font-size:12px;
	padding-bottom:2px;
}

/* Styles for products blocks */
/* block products (new, features, viewed, etc...) on left and right column */
.products_block li {
	clear: left;
	margin-top: 0.2em;
}
.products_block li.item img {
	margin-right: 5px;
}
.products_block li.last_item {
	border: none;
}
.products_block li img {
	vertical-align: top;
	float: left;
	margin-right: 0.2em;
}
.products_block p img {
	float: none;
	margin: 0 0 0 0.4em;
}
.products_block li h5 {
	display: inline;
	font-size: 0.9em;
}
.products_block li p a {
	font-weight: bold;
	font-size: 0.8em;
}
.products_block dl {
	clear: both;
	border-top: 1px solid #374853;
	padding: 0.2em 0.4em;
}
.products_block dl dt {
	margin-top: 0.3em;
	color: #595a5e;
}
.products_block p {
	margin-top: 0.4em;
}
.products_block a.button_large {
	margin: 0.4em 0.4em 0 0.4em;
}
.products_block ul.product_images li {
	border: none;
	float: left;
	clear: none;
}

/* Special style for block products in center column */
#center_column .products_block { border: none;}
#center_column .products_block  { color: #595a5e; }
#center_column .products_block h4 { line-height: 1.3em; }
#center_column .products_block .block_content {
	background: white;
	width:540px;
	padding:0pt;
	border-bottom:solid #CCC 1px;
	height:345px;
}
#center_column .products_block ul li:hover { background-color: #CCC;}
#center_column .products_block ul li {
	border-right: 1px solid #CCC;
	border-bottom:1px solid white;
	float: left;
	clear: none;
	width:134px;
/*	height:375px;*/

	background-color: white;
	padding: 0;
	margin-top:0;
}

#center_column .products_block ul .product_accessories_description  {
	margin:0;
	padding:0;
}
#center_column .products_block ul .product_accessories_description .product_accessories_price{
	margin-top:75px !important;
	margin-top:0px;
}
#center_column .products_block ul .product_accessories_description {
	margin:0;
	padding:0;
	height:280px;
}
/*#center_column .products_block li.last_item { float:none; clear:both; }*/
#center_column .products_block li.last_item_of_line { border-right:none; }
#center_column .products_block li.first_item_of_line { clear:both; }
#center_column .products_block li.last_line { border-bottom:none; }
#center_column .products_block p, #center_column .products_block h5 { margin: 0.5em 0.1em; }
#center_column div.products_block h5 {
	display: block;
	height: 2.57em;
}
#center_column div.products_block h5 a {
	color: #374853;
	font-size:1.1em;
}
#center_column div.products_block ul li p {
	margin:0;
	padding:0;
}
#center_column div.products_block p.product_desc {
	height:9.5em;
	color: #595a5e;
}
#center_column div.products_block a.product_image {
	display: block;
	background-color: transparent;
	width: 129px;
	height: 129px;
	margin-left:2px;
}
#center_column div.products_block .product_accessories_description a.product_image {
	width: 118px;
	height: 85px;
}
#center_column div.products_block a.product_description {
	display: block;
	width: 118px;
	height: 50px;
	margin-left:2px;	
}

#center_column div.products_block a.product_image img{
	float:none;
	margin:0;
}
#center_column div.products_block p.product_desc, #center_column div.products_block h5 {
	margin-left:0.5em;
	margin-right:0.5em;
}
#center_column div.products_block ul li p.product_desc a { font-weight:normal; }
#center_column .products_block span.price {
	text-align: center;
	font-size: 1.5em;
	padding: 0.5em 0;
	/*display: block;*/
}
p.price_container {
	text-align: center;
}
#center_column .products_block .featured_price { 
	margin-top:2.5em;
}
#center_column .products_block a.button, #center_column .products_block a.exclusive, #center_column .products_block span.exclusive {
	margin: 0.5em auto;
}

/* Special style for block accessories in center column (product page) */
#center_column .products_block.accessories_block .block_content{ background:none; }
#center_column div.products_block.accessories_block p.product_desc { height:6.5em; }
#center_column .products_block.accessories_block .block_content li{ background:none;  }
#center_column .products_block.accessories_block .block_content li a.product_image, #center_column .products_block.accessories_block .block_content li a.product_description { border-right:1px solid #d0d3d8; font-weight:bolder; }
#center_column .products_block.accessories_block .block_content li.last_item a.product_image{ border:none; }

/* Block tags */
div.tags_block .block_content {
	padding: 0.2em 0.6em;
	color:#374853;
	font-size:1.2em;
}
div.tags_block p {
	text-align: justify;
	font-size:0.9em;
	
}
div.tags_block p a {
	margin: 0 0.1em;
	line-height: 1.5em;
	color:#374853;
}
div.tags_block p a:hover {
	color:white!important;
	background-color:#5D717E;
	text-decoration:none;
}
a.tag_level3 { font-size: 1.8em; font-weight:bold;}
a.tag_level2 { font-size: 1.4em;}
a.tag_level1 { font-size: 1em; color:#888!important;}

/* Block manufacturer */
.blockmanufacturer ul, .blocksupplier ul {
	padding-bottom: 0.6em;
	color:#374853;
}
.blockmanufacturer select, .blocksupplier select {
	width: 100%;
	margin: 0;
	color:#374853;
}

/* Block specials */
.blockspecials ul {
	height: 8em;
}
.blockspecials li {
	float: left;
	clear: none;
	width: 48%;
}

.blockspecials p.product_image {
	margin-right: 0.3em;
}
.blockspecials p {
	padding: 0.3em 0 0 0;
	margin: 0;
	text-align: center;
	clear: both;
}
.blockspecials p a {
	margin: 0 auto;
	color:#374853;
}

/* Block Viewed Products */
div#viewed-products_block_left div.block_content ul.products li { height:85px; color:#374853;}
div#viewed-products_block_left div.block_content ul.products li img { margin-right:7px; }

/* Block newsletter */
div#newsletter_block_left div.block_content { padding:1em 0; text-align:center; color:#374853;}
div#newsletter_block_left div.block_content p{ padding:0.3em 0; text-align:center; }
div#newsletter_block_left div.block_content input.button_mini{ margin:1em auto 0em auto;}

/* Block RSS */
div#rss_block_left p { margin:0.5em 0; text-align:center; }

/* Block logo payment */
div.paiement_logo_block { width: 191px; text-align: center; margin-bottom: 1.5em; }
div.paiement_logo_block a { text-decoration: none; }
div.paiement_logo_block img { margin: 0 0.5em; }

/* Block editorial */
.editorial_block { margin-bottom: 2em; }
.editorial_block .rte{
	background:transparent none repeat scroll 0 0;
}
.editorial_block h2 {
	background: none;
	padding: 0;
	margin-bottom: 1em;
}
.editorial_block p { text-align: justify; padding-top: 0.4em;}

#editorial_block_center p { padding-left:0px; }

/* Block advertising */
.advertising_block { width: 191px; margin-bottom: 1em; text-align: center; }

/* Block new products */
#new-products_block_right dt a { font-size:0.8em; font-weight:bold; }

/* Block categories */
div#categories_block_left ul.tree { padding-left:0.5em; }
div#categories_block_left ul.tree li {
	border:none;
	padding-left:0.2em;
	background: none;
	margin-left:0;
	font-size:13px;
	line-height:13px;
	margin-top:2px;
}
div#categories_block_left ul.tree li ul li{
	padding-left:15px;
	background:none;
	font-size:11px;
	font-weight:normal;
}
div#categories_block_left ul.tree li ul li ul li{
	padding-left:15px;
	font-size:9px;
}
div#categories_block_left ul.tree a{
	padding-left:0;
	color:#374853;
}
div#categories_block_left ul.tree a:hover{
	text-decoration:none;
}
div#categories_block_left ul.tree a.selected{
	color: #488c40;
	font-weight: bold;
}
div#categories_block_left span.grower{
	display:block;
	float:left;
	background-position: 0px 3px;
	background-repeat: no-repeat;
	width:9px;
	height:15px;
	margin: 0 0 0 -10px!important;
	margin: 0 0 0 -6px;
	padding: 0;
}
div#categories_block_left span.OPEN { background-image: url('../img/icon/less.gif'); }
div#categories_block_left span.CLOSE{ background-image: url('../img/icon/more.gif'); }

/* steps (like order step) */
ul.step {
	background: transparent url('../img/step_start.gif') no-repeat bottom left;
	list-style: none;
	margin:0.8em auto 2em;
	padding-left: 40px;
	height: 25px;
	width:465px;
}
ul.step li {
	height: 25px;
	float: left;
	width: 100px;
	text-align: center;
	background: transparent url('../img/step_standard.gif') no-repeat bottom left;
}
ul.step li.step_current {
	background: transparent url('../img/step_current.gif') no-repeat bottom left;
	font-weight:bold;
}
ul.step li.step_todo {
	font-style:italic;
}
ul.step li#step_end { width: 40px; }
ul.step li#step_end { background: transparent url('../img/step_end.gif') no-repeat bottom left; }
ul.step li#step_end.step_current { background: transparent url('../img/step_end_current.gif') no-repeat bottom left; }
ul#order_step {
	background-color: white;
}

/* Special style for block cart*/
#cart_block .block_content { padding: 0.6em; }
#cart_block h4 { background-image: url('../img/block_header_exclusive_cart.gif'); }
#cart_block h4 span{
	text-transform:none;
	font-size:0.8em;
	cursor:pointer;
	background-repeat:no-repeat;
	background-position:left top;
	padding-left:10px;
}
#cart_block h4 span#block_cart_collapse{ background-image: url('../img/icon/sort_asc_white.gif'); }
#cart_block h4 span#block_cart_expand{ background-image: url('../img/icon/sort_desc_white.gif'); }
#cart_block #cart_block_no_products{ margin: 0.5em 0; }
#cart_block dl dt a, #cart_block dl dt span.quantity-formated {
	float: left;
}
#cart_block dl {
	font-size: 0.9em;
}

#cart_block dt{
	padding-top:0.4em;
	height:1.2em;
}
#cart_block dl span.quantity-formated{ padding-right:0.3em; }
#cart_block dt, #cart_block dd{
	clear: both;
	margin-top:0.2em;
}

#cart_block dt {
width: 175px;
}

#cart_block dd {
width: 155px;
}

#cart_block dd{ margin-left:1em; margin-right:1em; font-style:italic;}
#cart_block dl dt a { font-weight: bold; }
#cart_block a.ajax_cart_block_remove_link {
	width:11px;
	height:13px;
	margin-left:4px;
	float:right;
	font-size:0;
	display:block;
	background: transparent url('../img/icon/delete.gif') no-repeat left bottom;
}
#cart_block a.ajax_cart_block_remove_link:hover { text-decoration:none; }
#cart_block p { clear: both; }
#cart_block p span {
	clear: right;
	float: left;
	text-align: right;
}
#cart_block li { clear: both; }
#cart_block span.price {
	color: grey;
	float: right;
}
#cart_block dl span.price {
	font-weight: normal;
	color: grey;
	float: right;
}
#cart_block_wrapping_cost, #cart_block_shipping_cost , #cart_block_total{ padding-right:1.3em; }
#cart_block table#vouchers {
	margin-top:0.5em;
	border-top:1px solid grey;
	height: 3em;
	padding-top:0.4em;
	margin-bottom:0.5em;
	clear:both;
}

 #cart_block p#cart-prices {
	margin-top:0.5em;
	border-top:1px solid white;
	height: 4em;
	padding-top:0.4em;
	margin-bottom:0.5em;
	clear:both;
}

#cart_block table#vouchers td {
	padding:0;
	border:0;
	height:1.5em;
}

#cart_block table#vouchers td.price {
	color:grey;
	font-size:1em;
	font-weight:normal;
	width:37%;
	text-align:right;
}
#cart_block table#vouchers td.delete {
	width:9%;
	text-align:right;
}

#cart_block table#vouchers td.delete img{
	margin:0;
}

#cart_block p#cart-buttons {
	height: 1.6em;
	margin:0 -0.3em;
}
#cart_block p#cart-buttons a { float: left; }
#cart_block p#cart-buttons a#button_order_cart { float: right; }

#cart_block .cart_block_customizations {
	margin-left: 6px;
	list-style-type: square;
}

#cart_block #cart-price-precisions {
	margin-top:0.5em;
	padding-top: 0.4em;
	border-top:1px solid white;
	font-size: 0.9em;
	height: 2em;
}

/* authentication.tpl */
#authentication #create-account_form, #authentication #login_form {
	width: 49%;
	height: 25em;
	clear: none;
	float: left;
}
#authentication #create-account_form h4 {
	height: 3.4em;
	padding:0.3em 3em 0 4em;
}

#authentication #create-account_form p.text, #authentication #login_form p.text{
	height: 3.4em;
	margin-left:4em;
	padding-left:0;
	padding-right:0;
}

#authentication #login_form a{ color:#374853; }
#authentication #create-account_form { margin-right: 7px; }
#authentication #create-account_form p.text {
text-align:left;
width:100px;
}
#authentication #create-account_form p.text label{
	width:100px;
}
#authentication input#SubmitCreate, #authentication input#SubmitLogin{ margin:0; }
#authentication p.submit {
	margin-right: 0;
	text-align:left;
	padding-left:17% !important;
}
#authentication p.lost_password {
	padding-left:4em;
}

#authentication #create-account_form fieldset, #authentication #login_form fieldset {
	height:18em;
}
#authentication p.submit span { padding-right:0.5em; }
#authentication #create-account_form label, #authentication #login_form label {
	float: none;
	clear: both;
	display: block;
	text-align: left;
	width: 100%;
	margin-bottom: 0.3em;
}
form#account-creation_form input.text, form#account-creation_form #id_country, form#account-creation_form #id_state, #authentication textarea { width:17em; }

/* my-account.tpl */
#my-account #center_column ul { margin: 2em 0; }
#my-account #center_column li { list-style: none; margin: 2em 1.5em; }

/* discount.tpl */
td.discount_value {
	white-space: nowrap;
}

/* category.tpl */
h2.category_title { font-size: 1.3em; }
body#category #subcategories li {
	margin-right:10px;
} 	  
div.cat_desc { margin:0 1em; }

body#category  div#subcategories ul.inline_list  li a img {
	display:inline;
}

/* product-list.tpl */
ul#product_list{ margin-top:2em; list-style-type:none; }
ul#product_list li {
	background: #d0d3d8 url('../img/block_category_item_bg.jpg') repeat-x;
	border: solid 1px #d0d3d8;
	padding: 6px;
	height:130px;
	clear:both;
	margin-bottom:0.3em;
}
ul#product_list li a {
	text-decoration:none;
	color:#374853;
}

ul#product_list a.product_img_link{
	border: solid 1px #d0d3d8;
	float:left;
	margin-right:0.6em;
}

ul#product_list a.product_img_link img{
	vertical-align:bottom;
}
ul#product_list li h3{ margin:0.4em 0; }
ul#product_list li .new{
	background:transparent url(../img/flag_new_bg.jpg) repeat-x scroll 0%;
	border:1px solid #488C40;
	color:grey;
	font-size:0.6em;
	font-weight:bold;
	margin:0pt 1em 0pt 0pt;
	padding:0pt 0.4em;
	text-transform:uppercase;
	vertical-align:0.3em;
}
ul#product_list li p.product_desc{ font-size:0.92em; }
ul#product_list li div.center_block{
	float:left;
	width:74%;
}
ul#product_list li div.right_block{
	float:left;
	width: 11em;
	text-align:right;
	margin-left:1em;
	margin-top:0;
}
ul#product_list li .discount{
	color:#da0f00;
	text-transform:uppercase;
	font-weight:bold;
	display: block;
}
ul#product_list li .on_sale{
	color:#da0f00;
	text-transform:uppercase;
	font-weight:bold;
	display: block;
}
ul#product_list li .reduction {
	display: block;
	margin-bottom: 0.3em;
}
ul#product_list li .price{
	display: block;
	font-size: 1.5em;
	margin-bottom: 0.2em;
}
ul#product_list li span.availability{
	float: right;
	color:#488c40;
	font-size:0.9em;
}
ul#product_list li a.button{ margin-top:0.5em; }

/* shopping cart */
table.cart_last_product {
	width:300px;
	margin-left:130px;
}

table.cart_last_product_content {
	margin:5px 0px 10px 130px;
}

p.cart_navigation {
	padding: 1em 0!important;
}
p.cart_navigation .button, p.cart_navigation .button_large {
	float: left;
}
p.cart_navigation .exclusive, p.cart_navigation .exclusive_large {
	float: right;
}
p.cart_navigation_extra {
	text-align:center;
	width:auto;
}
form.std p.cart_navigation span {
	float:none;
	text-align:left;
	width:auto;
}
#cart_summary tfoot tr td {
	border-top: none;
	line-height: 1.5em;
}
#cart_summary tfoot tr.cart_total_product td {
	border-top: 1px solid #bdc2c9;
}
#cart_summary tfoot tr.cart_total_price td {
	border-bottom: 2px solid #bdc2c9;
}
#cart_summary .price, #cart_summary .price-discount {
	color: #595A5E;
	font-size: 1em;
	text-decoration: none;
}
tr.cart_item td { padding: 0.5em 0; }
td.cart_product a { margin: 0 0.6em; }
td.cart_product a img { border: 1px solid #d0d1d5; }
td.cart_product a:hover img { border: 1px solid #888; }
td.cart_description a { text-decoration: none; }
td.cart_description a:hover { text-decoration: underline; }
td.cart_description h5 a, td.cart_ref, td.cart_total { color: #595a5e; }
td.cart_unit, td.cart_total, td.cart_discount_price { text-align: right; }
td.cart_availability, td.cart_ref { text-align: center; }
td.cart_total .price { font-weight: bold; }
tr.cart_item td.cart_unit { padding-right: 1em; }

td.cart_quantity {
	width: 5.5em;
	text-align: right;
}
td.cart_quantity p, td.cart_quantity a {
	float: left;
	display: inline;
}
td.cart_quantity p {
	padding-right: 0.3em;
}
td.cart_quantity .icon {
	margin-top: 0.6em;
}
td.cart_quantity a.cart_quantity_up, td.cart_quantity a.cart_quantity_down {
	display: block;
}

tr.cart_free_shipping {
	white-space: normal;
}

#order tfoot p {
	margin: 0;
	float: left;
	width: 85%;
}
#order tfoot span {
	float: right;
	width: 15%;
	display: block;
}
tr.cart_total_price { font-weight: bold; }
#order form#voucher fieldset {
	border: 1px solid #bdc2c9;
	padding: 0.7em;
}
#order form#voucher h4, #order form#voucher p, #order form#voucher .button {
	display: inline;
}
#order form#voucher h4 {
	float: left;
	line-height: 1.5em;
	margin-right: 6em;
}

#order #order_carrier {
	clear: both;
	margin-top: 1em;
	border: 1px solid #bdc2c9;
	padding: 0.5em;
}
#order #order_carrier h4 {
	width: 50%;
	display: inline;
}
#order #order_carrier img {
	vertical-align: middle;
}
#order #order_carrier span {
	margin: 0 0.2em;
}

#order #gift_div{ display:none; }
#order #gift_div label, #order #gift_div textarea{
	display:block;
	width:100%;
	margin:1em 0;
}

/* contact-form.tpl */
body#contact-form div#center_column form input#email, body#contact-form div#center_column form select#id_contact, body#contact-form div#center_column form textarea#message{
	width: 50%;
}

form.std p.desc_contact span.like_input {
	width: 366px;
	text-align: left;
}

/* history.tpl*/

#block-history { color:#374853; }
.color-myaccount{ color: #dd2a81; }
#block-history table#order-list {
	border:none;
}
#block-history table#order-list thead th {
	background-image: url('../img/block_myaccount_header_large.gif');
}
#block-history table#order-list thead th {
	color:grey;
}
#block-history table#order-list tbody {
	background: #D0D1D5 url('../img/form_bg.jpg') repeat-x top left;
}
#block-history table#order-list tbody tr td {
	background-color:white;
}
#block-history table#order-list td.history_link {
	white-space: nowrap;
	text-align: right;
}
#block-history #block-order-detail {
	border-top:2px #dd2a81 solid;
	border-bottom:2px #dd2a81 solid;
	padding:0.5em;
	background: #D0D1D5 url('../img/form_bg.jpg') repeat-x top left;
}
#block-history #block-order-detail p {
	padding-left :0;
	padding-right :0;
}
#order-detail-content {
	clear:both;
	margin-top:1.5em;
}

#order-detail-content tbody tr{
	height:3em;
}

#order-detail-content tfoot td{
	border:none;
}

#order-detail-content table td input.order_qte_input{
	display:none;
}

#order-detail-content table td.order_cb input{
	border: none;
}
#order-detail-content table td span.order_qte_span{
	width: 100%;
	display:block;
}
#block-history #block-order-detail h4{ font-size:1.4em; }

#block-history #block-order-detail #sendOrderMessage p{
	padding:0pt 4px 0pt 1px;
}

#block-history #block-order-detail textarea{
	margin:0 auto;
	width:100%;
}

#ordermsg textarea{
	margin:0;
	padding:0;
	width:528px;
	
}

/*  sitemap.tpl */
#sitemap_content{ margin-left:5em; }
div.sitemap_block{
	padding:0;
	float:left;
	width:30%;
}
div.sitemap_block ul{ text-align:left; }
div.sitemap_block h3, .categTree h3{
	margin-top:1em;
	margin-bottom:1em;
}
div.categTree {
	margin-top:25px;
	margin-bottom:1em;
	margin-left:5em;
}

/* product.tpl */
#primary_block #pb-right-column{
	width:310px;
	float:left;
}
#primary_block #image-block{
    border:#d0d1d5 solid 1px;
	height:302px;
	width:300px;
}
#primary_block #image-block img#bigpic{ 
	cursor:pointer; 
	height:300px;
	width:300px;
}
#primary_block ul#usefull_link_block{
	list-style-type:none;
	margin-top:1em;
}
#primary_block ul#usefull_link_block li{ margin:0.5em 1em 0.5em 0; display: block; }
#primary_block ul#usefull_link_block li a, #primary_block ul#usefull_link_block span.span_link, #primary_block ul#usefull_link_block span.span_link:hover{
	text-decoration:none;
	color:#76839b;
	font-size:0.9em;
	background: white url('../img/bullet_alt.jpg') no-repeat top left;
	padding-left:15px;
	height:15px;
}
#primary_block #pb-left-column{
	float:left;
	margin-left:1.1em;
	width:233px;
}
#primary_block #short_description_block{
	background: #e5e6e7 url('../img/product-short-desc-bg.gif') repeat-x top left;
	border: 1px #d0d3d8 solid;
	padding:0.7em;
	margin-bottom:1.5em;
}
#primary_block #color_picker p {
	margin: 0 0 0.4em 0;
	padding: 0 0 0 0;
}
#primary_block #color_picker {
	padding: 0.7em;
	background: #e5e6e7 url('../img/product-short-desc-bg.gif') repeat-x top left;
	border: 1px #d0d3d8 solid;
	margin-bottom: 1.5em;
}
#primary_block #color_to_pick_list {

}
#primary_block #color_to_pick_list li {
	display: inline;
	float: left;
	margin: 0 0.4em 0.4em 0;
}
#primary_block a.color_pick {
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid #666;
	cursor: pointer;
}
#primary_block a.color_pick:hover {
	border: 1px solid #000;
}

#primary_block #image-block img#bigpic.jqzoom{
cursor:crosshair;
position:relative;
}

#primary_block p.buttons_bottom_block{ margin:0; }
#primary_block p.buttons_bottom_block a, #primary_block p.buttons_bottom_block input { margin:0.9em auto 0 auto; }
#primary_block #short_description_content{
	margin-bottom:0.5em;
}
#primary_block form#buy_block{
	background: #f1f2f4 url('../img/product-buy-bg.gif') repeat-x top left;
	font-size:1.1em;
	padding:0.7em;
	color:#374853;
	border: 1px #d0d3d8 solid;
}
#primary_block form#buy_block p{
	padding:0;
	margin-top:0;
}
#primary_block form#buy_block img.on_sale_img{
	float:left;
}
#primary_block form#buy_block span.on_sale{
	color:#da0f00;
	text-transform:uppercase;
	font-weight:bold;
	float:right;
}
#primary_block form#buy_block span.discount{
	color:#da0f00;
	text-transform:uppercase;
	font-weight:bold;
	float:right;
}
#primary_block form#buy_block span.our_price_display{
	float:right;
}
#primary_block form#buy_block span#availability_label{
	float:left;
	margin-right:1em;
}
#primary_block form#buy_block label{
	text-align:right;
}
#primary_block form#buy_block label,#primary_block form#buy_block select{
	display:block;
	width:47%;
	float:left;
}
#primary_block div#attributes p, #quantity_wanted_p{
	clear: left;
	height:2em;
}

/* prices */
#primary_block form#buy_block p.price{
	font-size:1.05em;
	text-align:right;
}
#primary_block form#buy_block span#pretaxe_price{
	font-size:0.75em;
	text-align:right;
}
#primary_block form#buy_block p#old_price{
	font-size:0.8em;
	text-align:right;
	text-decoration:line-through;
}
#primary_block form#buy_block p#reduction_percent{
	color:#da0f00;
	font-size:0.75em;
	text-align:right;
}
#primary_block form#buy_block p.price-ecotax{
	font-size:0.75em;
	text-align:right;
}

/* views block */
#views_block{
	margin:0pt auto;
	width: 274px;
}

#thumbs_list{
	overflow:hidden;
	float:left;
	width: 240px;
}
#thumbs_list ul{
	padding-left:0px;
	list-style-type:none;
	margin-top: 5px;
}
#thumbs_list li{
	float:left;
	cursor:pointer;
	width: 80px;
	height: 80px;
}
#view_scroll_left, #view_scroll_right{
	background: url('../img/thumbs_left.gif') no-repeat center;
	text-indent:-3000px;
	width:9px;
	height:18px;
	float:left;
	margin-top:30px;
	padding-right: 4px;
	padding-left: 4px;
}
#view_scroll_right{
	background-image: url('../img/thumbs_right.gif');
}
span.view_scroll_spacer{
	float: left;
	width: 17px;
	height: 80px;
}

/* manufacturers-list.tpl && suppliers-list.tpl */
ul#manufacturers_list, ul#suppliers_list {
	margin-top:2em;
	color:#374853;
	list-style-type:none;
}
ul#suppliers_list li, ul#manufacturers_list li {
	background: #d0d3d8 url('../img/block_category_item_bg.jpg') repeat-x;
	border: solid 1px #d0d3d8;
	color:#374853;
	padding:0.6em;
	margin-bottom:1.5em;
}
ul#suppliers_list li a, ul#manufacturers_list li a{
	text-decoration:none;
	color:#374853;
}
ul#suppliers_list li h3, ul#manufacturers_list li h3{ margin:0.4em 0; color:#374853;}
ul#suppliers_list .left_side, ul#manufacturers_list .left_side{
	float:left;
	width:75%;
	color:#374853;
}
ul#suppliers_list .logo, ul#manufacturers_list .logo{
	border: solid 1px #d0d3d8;
	float:left;
	margin-right:0.6em;
	color:#374853;
}
ul#suppliers_list li p.description, ul#manufacturers_list li p.description{ color:#374853;font-size:0.92em; }
ul#suppliers_list li .right_side, ul#manufacturers_list li .right_side {
	float:right;
	text-align:right;
	color:#374853;
}
ul#suppliers_list .right_side span, ul#manufacturers_list .right_side span{
	font-size:1.7em;
	color:#da0f00;
	color:#374853;
}
ul#suppliers_list li a.button, ul#manufacturers_list li a.button{ margin-top: 4em; }

/* category.tpl */

#category img#categoryImage {
	margin-top:1em;
}

/* category.tpl */

/* adresses */
div.addresses {
	border: 1px solid #d0d3d8;
	background: #D0D1D5 url('../img/form_bg.jpg') repeat-x top left;
	padding: 0.6em;
	position:relative;
	width:544px;
}
div.addresses h3 { margin: 0; }
div.addresses p.checkbox input{
	margin-top:0!important;
	margin-top:-3px;
}
ul.address {
	background-color:white;
	float:left;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin-left:0.25em;
	padding-bottom:0.6em;
	margin-bottom:1em;
	position:relative;
	width:268px;
}

ul.address li {
	padding-left: 1.4em;
	margin-top: 0.6em;
}
li.address_title {
	margin-top: 0!important;
	background-color: #d0d1d5;
	color: #374853;
	font-weight: bold;
	height: 27px;
	font-size: 1.2em;
	line-height: 1.9em;
}
ul.item li.address_title { background-image: url('../img/address_alias_left.gif'); }
ul.alternate_item li.address_title { background-image: url('../img/address_alias_right.gif'); }
li.address_name, li.address_update a, li.address_delete a { color: #dd2a81; }
li.address_name, li.address_company { font-weight: bold; }
li.address_update, li.address_delete {
	background: transparent url('../img/bullet_myaccount.gif') no-repeat 0 0.5em!important;
	background: transparent url('../img/bullet_myaccount.gif') no-repeat 0 0.4em;
	margin-left: 1.4em;
}
#center_column .address_add { padding: 1em 0; }

/* conditions & legal */
ul.shop_info {
	list-style-type: square!important;
	list-style-position:inside;
	padding: 0.6em;
	margin-top: 0.6em;
	margin-left: 2em;
	border: 1px solid #888;
}
ul.shop_info li {
	padding-left: 0.5em!important;
	padding-bottom: 0.5em!important;
}

/* conditions.tpl */
#conditions #right_column { display: none; }
#conditions h2 { background: transparent url('../img/title_bg_large.gif') no-repeat top left; }
#conditions #center_column {
	width: 730px;
	text-align: justify;
}
#conditions #center_column ul, #conditions #center_column ol {
	margin-left: 2em;
	padding: 0.6em;
}
#conditions #center_column ul { list-style-type: circle; }
#conditions #center_column li { padding-bottom: 0.5em; }
#conditions #center_column { line-height: 1.3em; }

/*  identity.tpl */
p#security_informations{
	font-size:0.85em;
	margin: 0 3em;
}

/* order step 3: PAYMENT */
.payment_module {
	display: block;
}
.payment_module img {
	vertical-align: middle;
	margin-right: 1em;
}
.payment_module a {
	display: block;
	border: 1px solid #595a5e;
	padding: 0.6em;
	text-decoration: none;
}
.payment_module a:hover, .payment_module a:focus, .payment_module a:active {
	border: 1px solid #488c40;
	background-color: #e5e6e7;
	color: #374853;
}

/* Printable version */
@media print {
	div#left_column, div#right_column, div#footer, a.button, span.button , .button, ul#usefull_link_block, div#header_user, #languages_block_top, #search_block_top, #currencies_block_top, ul#header_links, ul.idTabs, #availability_statut br {
		display:none;
	}
	div#center_column {width:100%}
	input.text{border:1px solid gray}
	.block_hidden_only_for_screen { display:block; margin-top:1em; }
	#more_info_sheets #idTab1{ width:530px; }
	* {background:none!important;background-color:white!important;}
}

/* Customizable product */
#customization_block {
	width: 556px;
}

.customization_block_title {
	margin: 4px 4px 4px 2px;
}

#customization_block ul {
	margin: 6px 6px 0px 6px;
}

.customization_block_input {
	vertical-align: inherit;
}

img.customization_delete_icon {
	margin: 2px;
}

li.customizationUploadLine {
	clear: left;
	padding: 4px;
	display: block;
}

div.customizationUploadBrowse {
	float: left;
}

div.customizationUploadBrowseDescription {
	padding: 6px;
}

img.customizationUploaded {
	margin: 2px;
	border: 1px solid #888888;
}

ul.customizationUploaded {
	list-style-type: none;
	margin-left: 4px;
}

ul.customizationUploaded li {
	display: inline;
}

ul.customizationUploaded a {
	text-decoration: none;
}

div.customizationUploaded {
	clear: left;
}

div.deletePictureUploaded {
	float: right;
}

div.deleteCustomizableProduct {
	float: right;
}

ul.typedText {
	padding-left: 6px;
	list-style-type: none;
}

/* category Products block */
#productscategory{
	margin:2em auto 0pt;
	height:120px;
	width:100%;
}

#productscategory_noscroll{
	margin:2em auto 0pt;
	height:120px;
	width:100%;
}

#productscategory_list{
	overflow:hidden;
	float:left;
	width:96%;
}
#productscategory_list ul{
	padding-left:0px;
	list-style-type:none;
}
#productscategory_list li{
	float:left;
	margin:0 3px;
	cursor:pointer;
	text-align:center;
	width:100px;
	overflow:hidden;
}
#productscategory_scroll_left, #productscategory_scroll_right{
	background: url('../img/thumbs_left.gif') no-repeat center;
	text-indent:-3000px;
	display:block;
	width:9px;
	height:18px;
	float:left;
	margin-top:30px;
}
#productscategory_scroll_right{
	background-image: url('../img/thumbs_right.gif');
}

/* module blockmenutop */
#menu-top {
	clear:both;
	width:100%;
	height:40px;
}

#menu-top dl{
	float:left;
	position:relative;
	padding-right:10px;
}

#menu-top dl dt{
	line-height:30px;
	height:30px;
}

#menu-top dl dt a{
	text-decoration:none;
	background:#eeeeee;
	display:block;
	height:30px;
	width:100px;
	padding-left:5px;
	padding-right:5px;
}

#menu-top dl dt a:hover{
	background:#ccc;
}

#menu-top dl:hover dd{
	display:block;
}

#menu-top dl dd{
	display:none;
	position:absolute;
	width:100px;
}

#menu-top dl dd ul{
	width:100%;
	text-align:left;
	background:#cccccc;
}

#menu-top dl dd ul li a{
	display:block;
	background:#eee;
	width:100%;
	text-decoration:none;
	padding:10px;
}

#menu-top dl dd ul li a:hover{
	background:#ccc;
}



/* module blockwishlist */
#wishlist_block #wishlist_block_list dl.products {
	font-size: 10px;
	border-bottom: 1px solid #fff;
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
}

#wishlist_block div.block_content #wishlist_block_list dl.products dt a.cart_block_product_name {
	font-weight:bold;
}

#wishlist_block div.block_content #wishlist_block_list dl.products dt {
	margin: 4px 0 4px 0;
}

#wishlist_block div.block_content #wishlist_block_list dl.products dt a.ajax_cart_block_remove_link {
	float: right;
	margin:-12px 0 0 0;
}

#wishlist_block div.block_content #wishlist_block_list dl.products dd{
	font-style: italic;
	margin: 0 0 0 10px;
}

#wishlist_block div.block_content p select#wishlists{
	width: 140px;
}

#wishlist_block div.block_content p a.exclusive{
	margin: 5px auto 0 auto;
}

/* mywishlist */
div#mywishlist div#block-order-detail form.wl_send fieldset p input{
	margin-left:60px;
}
div#mywishlist div#block-order-detail {
	margin-top: 10px; 
	display: block;
}
div#mywishlist form.std fieldset label {
	width: 30px;
}
div#mywishlist form.std fieldset input#submitWishlist {
	display: inline;
}
div#mywishlist table.std thead th.mywishlist_first{
	text-align: center;
	width: 40px;
}
div#mywishlist table.std thead th.mywishlist_second{
	text-align: center;
	width: 80px;
}
div#mywishlist table.std thead th.first_item, div#mywishlist table.std tbody tr td{
	width: 200px;
}
div#mywishlist div#block-order-detail {
	margin-top: 10px;
}
div#mywishlist div#block-order-detail ul li span.wishlist_product_detail select {
	margin: 0;
}
div#mywishlist #hideBoughtProducts,div#mywishlist #showBoughtProducts{
	float:left;
	margin:-18px 0 0 5px;
}
div#mywishlist #showBoughtProducts, div#mywishlist #hideBoughtProductsInfos, div#mywishlist #hideSendWishlist{
	display:none;
}
div#mywishlist #showBoughtProductsInfos, div#mywishlist #hideBoughtProductsInfos{
	float:right;
	margin:-18px 118px 0 0;	
}
div#mywishlist #showSendWishlist, div#mywishlist #hideSendWishlist, div#mywishlist div#block-order-detail ul li a.exclusive {
	float:right;
	margin:-18px 0px 0 0;
}
div#mywishlist div#block-order-detail table.wlp_bought_infos thead tr th {
	text-align: center;
}
div#mywishlist div#block-order-detail table.wlp_bought_infos thead tr th.first_item {
	width: 300px;
}
div#mywishlist div#block-order-detail table.wlp_bought_infos{
	margin:0 0 0 10px;
}
div#mywishlist div#block-order-detail ul li img {
	float:left;
}
/* View wishlish */
#view_wishlist #featured-products_block_center ul div li a img {
	float: left;
}
#view_wishlist #featured-products_block_center ul div li a, #view_wishlist #featured-products_block_center ul div li span {
	text-decoration: none;
	float: left;
}
#view_wishlist #featured-products_block_center ul div li span.wishlist_product_detail, div#mywishlist div#block-order-detail ul li span.wishlist_product_detail {
	margin-left: 30px;
	float: left;
}
div#mywishlist div#block-order-detail ul li span.wishlist_product_detail {
	margin-bottom:5px;
	
} 
#view_wishlist #featured-products_block_center ul div li a.exclusive, #view_wishlist #featured-products_block_center ul div li span.exclusive {
	margin-left:55px;
}
#view_wishlist #featured-products_block_center ul div li.address_name input.text {
	color: #999;
	font-weight: bold;
	font-size: 11px;
	border:0;
}

/* module productcomments */
.rating {
 cursor: pointer;
 margin: 2em;
 clear: both;
 display: block;
}
.rating:after {
 content: '.';
 display: block;
 height: 0;
 width: 0;
 clear: both;
 visibility: hidden;
}
.cancel,
.star {
 float: left;
 width: 17px;
 height: 15px;
 overflow: hidden;
 text-indent: -999em;
 cursor: pointer;
}
.cancel,
.cancel a {background: url(../../../modules/productcomments/img/delete.gif) no-repeat 0 -16px;}

.star,
.star a {background: url(../../../modules/productcomments/img/star.gif) no-repeat 0 0px;}
 
.cancel a,
.star a {
 display: block;
 width: 100%;
 height: 100%;
 background-position: 0 0px;

}
div.star_on a{
 background-position: 0 -16px;
}
div.star_hover a,
div.star a:hover{
 background-position: 0 -32px;

}

.pack_content{
	margin: 10px 0 10px 0;
}
.pack_price {
	float: right; margin-right:3px; font-size: 12px;
}

.confirmation { color: forestgreen; font-weight: bold;}

#page .rte {
	background:transparent none repeat scroll 0 0;
}

/* Menu */
#headertwo {
	float: left;
	/*width: 71%;*/
	text-align: right;
	
	width: 100%;
	height: 65px;
	margin: 0 auto;
	padding: 0px;
}


#headermenu {
	width: 100%;
	height: 65px;
	margin: 0 auto;
	padding: 0;
	background: url(../img/img04.jpg) no-repeat left top;
}

#headermenu ul {
	float: right;
	margin: 0;
	padding: 0px 25px 0px 0px;
	list-style: none;
	line-height: normal;
}

#headermenu li {
	float: left;
}

#headermenu a {
	display: block;
	width: 120px;
	height: 39px;
	margin-left: 10px;
	padding-top: 15px;
	background: url(../img/img05.jpg) repeat-x left top;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#headermenu a:hover, #headermenu .headercurrent_page_item a {
	text-decoration: none;
	background: url(../img/img06.jpg) no-repeat left top;
	padding-left: 0;
	color: #493E2B;
}

