<p class="payment_module">
	<a href="javascript:$('#liqpay_form').submit();" title="{l s='Pay with LiqPay' mod='liqpay'}">
		<img src="{$module_template_dir}LiqPay.gif" alt="{l s='Pay with LiqPay' mod='liqpay'}" />
		{l s='Pay with LiqPay' mod='liqpay'}
	</a>
</p>

<form  id="liqpay_form" action="{$liqpayUrl}" method="post" />
    <input type="hidden" name="operation_xml" value="{$operation_xml}">
    <input type="hidden" name="signature" value="{$signature}">
</form>